body {

  background: linear-gradient(to right, #01B7D4, #EB9820);
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
